name: golines test
on:
  push:
  pull_request:

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
          - macos-latest
          - windows-latest
        go: ['1.19']
    name: golines test (using go ${{ matrix.go }} on ${{ matrix.os }})
    steps:
      - uses: actions/checkout@v2
      - name: test golines
        uses: actions/setup-go@v2
        with:
          go-version: ${{ matrix.go }}
      - run: make test
